<div class="p-4">
    <div class="container">
        <h1>Admin</h1>
        <p>This section can only be accessed by administrators.</p>
        <div class="list-group mb-4">
            <button routerLink="accounts" class="list-group-item list-group-item-action text-left">Manage Accounts</button>
            <button routerLink="employees" class="list-group-item list-group-item-action text-left">Manage Employees</button>
            <button routerLink="departments" class="list-group-item list-group-item-action text-left">Manage Departments</button>
            <button routerLink="requests" class="list-group-item list-group-item-action text-left">View Requests</button>
        </div>
    </div>
</div>